version: 0.1

default:
  global:
    parameters: {}
  build:
    parameters:
      cached: true
      parallel: true
  deploy:
    parameters:
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      confirm_changeset: true
      region: 'eu-west-2'
      resolve_s3: false
  sync:
    parameters:
      watch: true
  local_start_api:
    parameters:
      warm_containers: EAGER
      region: 'eu-west-2'
      parameter_overrides: ProjectName='bods-backend'
        Environment='local'
        RdsDbPort=5432
        RdsDbHostAddr='host.docker.internal'
  local_invoke:
    parameters:
      docker_network: lambda-local
      region: 'eu-west-2'
      parameter_overrides: ProjectName='bods-backend'
        Environment='local'
        RdsDbPort=5432
        RdsDbHostAddr='host.docker.internal'

local:
  deploy:
    parameters:
      stack_name: 'bods-backend-local-app-stack'
      s3_prefix: dev
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='local'

dev:
  deploy:
    parameters:
      stack_name: 'bods-backend-dev-app-stack'
      s3_prefix: dev
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='dev'
        AvlConsumerApiBaseUrl='https://x87vl7rpc0.execute-api.eu-west-2.amazonaws.com/v1'

dev2:
  deploy:
    parameters:
      stack_name: 'bods-backend-dev2-app-stack'
      s3_prefix: dev2
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='dev2'
        AvlConsumerApiBaseUrl='https://x87vl7rpc0.execute-api.eu-west-2.amazonaws.com/v1'

test:
  deploy:
    parameters:
      stack_name: 'bods-backend-test-app-stack'
      s3_prefix: test
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='test'
        AvlConsumerApiBaseUrl='https://x87vl7rpc0.execute-api.eu-west-2.amazonaws.com/v1'
        CavlConsumerUrl='https://api-consumer-cavl-preprod.itoworld.com'

uat:
  deploy:
    parameters:
      stack_name: 'bods-backend-uat-app-stack'
      s3_prefix: uat
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='uat'
        AvlConsumerApiBaseUrl='https://x87vl7rpc0.execute-api.eu-west-2.amazonaws.com/v1'
        CavlConsumerUrl='https://api-consumer-cavl-staging.itoworld.com'

uat2:
  deploy:
    parameters:
      stack_name: 'bods-backend-uat2-app-stack'
      s3_prefix: uat2
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='uat2'
        AvlConsumerApiBaseUrl='https://x87vl7rpc0.execute-api.eu-west-2.amazonaws.com/v1'
        CavlConsumerUrl='https://api-consumer-cavl-staging.itoworld.com'
        DDGitData='7b4b66252fb52c0d4f4412f823cf7694616a1c46,https://github.com/department-for-transport-BODS/bods-backend.git'
        Version='v1.0.112'

prod:
  sync:
    parameters:
      watch: false
  deploy:
    parameters:
      stack_name: 'bods-backend-prod-app-stack'
      s3_prefix: prod
      capabilities: 'CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND'
      parameter_overrides: ProjectName='bods-backend'
        Environment='prod'
        AvlConsumerApiBaseUrl='https://obg8kxwhq9.execute-api.eu-west-2.amazonaws.com/v1'
        CavlConsumerUrl='https://api-consumer-cavl.itoworld.com'
