boto3==1.35.97
pandas==2.2.3
psycopg2-binary==2.9.10
pydantic==2.10.4
requests==2.32.3 
SQLAlchemy==2.0.36
urllib3==2.3.0
sqlalchemy-citext==1.8.0
GeoAlchemy2==0.16.0
clamd==1.0.2
tenacity==9.0.0
defusedxml==0.7.1
lxml==5.3.0
isoduration==20.11.0
structlog==24.4.0
shapely==2.0.6
pydantic-settings==2.7.1